#sudhaus7-datavault-controller-toolbarcontroller {
  > a {
    span {
      &.fa-lock {
        color: red;
      }
      &.fa-unlock {
        color: green;

      }
    }
  }
  .dropdown-menu {
    .clearKey {
      display:none;
    }
    button {
      color: #000000;
    }

    textarea {
      width: 100%;
      height: 150px;
      color: #000;
    }

  }
}


.tx-bfactor-template {
  #createkey {
    label {
      display:block;
      margin-top: 20px;
    }
    textarea {
      width: 100%;
      height: 150px;

      color: #000;
    }
  }
}
